In [1]:
import pandas as pd
import numpy as np

In [89]:
uk_data=pd.read_excel(r"C:\Users\Jomon\OneDrive\Desktop\hackathon\Data\UK.xlsx")

In [90]:
gem_data=pd.read_excel(r"C:\Users\Jomon\OneDrive\Desktop\hackathon\Data\germ.xlsx")

In [91]:
uk_data.head()

,Vehicle Type,Manufacturer,Model,Series,ABI Code,Wheel Base Length,Roof Height Type,Number Of Seats,Total Height,Total Length,...,Fuel Type,Fuel Type.1,ABI Description,Vehicle Import Type,AEB Type,List Price,Enhanced Vehicle Description,Battery Lease,CO2 Emissions G/KM,Electric Vehicle Type
0,Car,SSANGYONG,TIVOLI XLV,1,104660,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,DIESEL/,NaN,NaN,No,19250.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,154.0,NaN
1,Car,SSANGYONG,TIVOLI XLV,1,104661,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,DIESEL/,NaN,NaN,No,18250.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,121.0,NaN
2,Car,SSANGYONG,TIVOLI XLV,1,104662,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,DIESEL/,NaN,NaN,No,20500.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,164.0,NaN
3,Car,SSANGYONG,TIVOLI XLV,1,104663,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,DIESEL/,NaN,NaN,No,19500.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,127.0,NaN
4,Car,SSANGYONG,TIVOLI XLV,1,104668,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,DIESEL/,NaN,NaN,Yes,20500.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,NaN,NaN

In [92]:
gem_data.head()

,Manufacturer Identification Number,Model Identification Numer,No. Of Driving Axles,max. Length,max. Width,max. Height,max. Gross Vehicle Weight,Manufacturer,Commercial Name,Type,Wheelbase,Power/Weight Ratio,Seats,Fuel Code,max. Top Speed,Fuel Type
0,HSN,TSN,Antriebsachsen_Anz,LÃ¤nge [mm]_bis,Breite [mm]_bis,HÃ¶he [mm]_bis,zul GG [kg]_Max,Fabrikmarke,Handelsname,Typ,Radstand [mm]_Max,Leistungsgewicht [kW/kg],SitzplÃ¤tze_Anz,Kraftstoff_Code,Vmax [km/h]_bis,Column1
1,1,96,NaN,NaN,NaN,NaN,250,NaN,M 100,M 100,NaN,NaN,2,1,NaN,Petrol
2,1,97,NaN,NaN,NaN,NaN,270,NaN,LUXUS MR 100,MR 100;LUXUS MR100,NaN,NaN,2,1,NaN,Petrol
3,1,125,NaN,NaN,NaN,NaN,250,NaN,M 125,M 125,NaN,NaN,2,1,NaN,Petrol
4,1,148,NaN,NaN,NaN,NaN,330,NaN,M 150,M 150,NaN,NaN,3,1,NaN,Petrol

In [152]:
germ_df=gem_data.copy()

In [153]:
germ_df=gem_data.drop(index=0,axis=0)

In [154]:
germ_df.head()

,Manufacturer Identification Number,Model Identification Numer,No. Of Driving Axles,max. Length,max. Width,max. Height,max. Gross Vehicle Weight,Manufacturer,Commercial Name,Type,Wheelbase,Power/Weight Ratio,Seats,Fuel Code,max. Top Speed,Fuel Type
1,1,96,NaN,NaN,NaN,NaN,250,NaN,M 100,M 100,NaN,NaN,2,1,NaN,Petrol
2,1,97,NaN,NaN,NaN,NaN,270,NaN,LUXUS MR 100,MR 100;LUXUS MR100,NaN,NaN,2,1,NaN,Petrol
3,1,125,NaN,NaN,NaN,NaN,250,NaN,M 125,M 125,NaN,NaN,2,1,NaN,Petrol
4,1,148,NaN,NaN,NaN,NaN,330,NaN,M 150,M 150,NaN,NaN,3,1,NaN,Petrol
5,1,149,NaN,NaN,NaN,NaN,335,NaN,MB 150,MB 150,NaN,NaN,3,1,NaN,Petrol

In [155]:
germ_df=germ_df.dropna(subset = ['Manufacturer'])

In [156]:
germ_df.shape

(30459, 16)

In [157]:
uk_data.shape

(16889, 31)

In [158]:
germ_df['Manufacturer']=germ_df['Manufacturer'].str.upper()

In [159]:
for i in uk_data['Manufacturer'].unique():
    for j in germ_df['Manufacturer']:
        if i in j:
            germ_df['Manufacturer']=germ_df['Manufacturer'].replace(j,i)

In [160]:
uk_data['Manufacturer'].unique()

array(['SSANGYONG', 'ALFA ROMEO', 'TESLA', 'ALPINA', 'ASTON MARTIN',
       'AUDI', 'INVALID', 'BENTLEY', 'BMW', 'BUGATTI', 'DFSK', 'CITROEN',
       'CADILLAC', 'POLESTAR', 'CUPRA', 'GENESIS', 'CHEVROLET', 'TORNADO',
       'ORA', 'BYD', 'DACIA', 'LEVC', 'KOENIGSEGG', 'FERRARI', 'FIAT',
       'FORD', 'GINETTA', 'HONDA', 'HYUNDAI', 'INFINITI', 'JAGUAR',
       'JEEP', 'KIA', 'LAMBORGHINI', 'LAND ROVER', 'LEXUS', 'LOTUS',
       'MASERATI', 'MAZDA', 'MERCEDES-BENZ', 'MCLAREN', 'MG MOTORS UK',
       'MINI', 'MITSUBISHI', 'NISSAN', 'PEUGEOT', 'PORSCHE', 'RENAULT',
       'ROLLS-ROYCE', 'SEAT', 'SKODA', 'SUBARU', 'SUZUKI', 'TOYOTA',
       'VAUXHALL', 'VOLKSWAGEN', 'VOLVO', 'DS', 'ALPINE'], dtype=object)

In [161]:
germ_df['Manufacturer'].unique()

array(['WÃœRZ', 'BMW', 'MINI', 'OPEL', 'OBERAIGNER',
       'OBERAIGNER AUTOMOTIV GMBH', 'OBERAIGNER AUTOMOTIVE GMB',
       'OBERAIGNER AUTOMOTIV GMB', 'OBERAIGNER AUTOMOTIVE', 'SOMMER GMBH',
       'WILLIG', 'HOLDER', 'E BIKE ADVANCED', 'E BIKE ADVANCED,PANTHER,.',
       'HAKO', 'MULTICAR', 'HYMER', 'HYMER/ERIBA',
       'ERIBA/HYMER,HYMER/ERIBA,H', 'ERIBA/HYMER,ERIBA/HYMER/S', 'DINKEL',
       'KÃ„RCHER', 'KÃ„RCHER GMBH & CO. KG', 'KÃ„RCHER;-FUTURETECH',
       'KÃ„RCHER,BELOS', 'VOEGELE', 'WICK BOOTSTRAILER',
       'WICK BOOTESTRAILER', 'KRAMER', 'KRAMER-WERKE / CLAAS',
       'KRAMER WERKE GMBH, CLAAS', 'KRAMER WERKE GMBH', 'KRAMER;CLAAS',
       'KRAMER,CLAAS', 'KRAMER,WEIDEMANN,WACKER..',
       'KRAMER;WEIDEMANN;WACKER N', 'KRAMER;WACKER NEUSON', 'HOBBY',
       'PORSCHE', 'AUDI', 'VOLKSWAGEN', 'KARMANN MOBIL', 'IAV',
       'WESTFALIA', 'EDR E.G', 'EDR E.G.', 'EDER GMBH ALGEMA',
       'EDER GMBH, FITZEL', 'EDER', 'RAPIDO', 'JUNGE FAHRZEUGBAU GMBH',
       'MOBILCENTER ZAWATZKY', 'KNAUS', 'DETHLEFFS', 'KIEFER GMBH',
       'KIEFER WW. REFORM', 'MEIERLING', 'F.X.MEILER', 'F.X. MEILLER',
       'F.X.MEILLER', 'SCHMITZ CARGUBULL', 'MERCEDES-BENZ', 'KRONE',
       'SCHWARZMÃœLLER', 'CLAAS', 'JENZ', 'MERCEDES-AMG', 'MAYBACH',
       'SMART', 'CHRYSLER', 'JEEP', 'DODGE', 'CHRYSLER,LANCIA', 'FIAT',
       'LANCIA', 'CADILLAC', 'CHEVROLET', 'HUMMER', 'DS', 'FORD', 'BUELL',
       'BRENDERUP,BRENDERUP,THULE', 'BRENDERUP', 'BRENDERUP,THULE',
       'BRENDERUP,ELLEBI,FOGELSTA', 'KÃ„SSBOHRER;TIRSAN;TALSON',
       'CLUB CAR,HUSQVARNA U.A.', 'BOSS HOSS', 'LADA', 'CATERPILLAR',
       'JOHN DEERE', 'DEERE & COMPANY', 'HONDA', 'CASE IH', 'NEW HOLLAND',
       'LELY', 'POLARIS', 'VICTORY MOTORCYCLES',
       'VICTORY MOTORCYCLES,VICTO', 'SLINGSHOT', 'IO FAHRZEUGE',
       'IO FAHRZEUGE PROD........', 'OTOKAR', 'FRUEHAUF', 'YAMAHA', 'AMS',
       'KLAAS ALU-KRANBAU GMBH', 'GUMPERT', 'LANDINI;MCCORMICK',
       'LANDINI;MCCORMICK;VALPADA', 'LANDINI OR MCCORMICK',
       'LANDINI, MCCORMICK', 'MCCORMICK', 'LANDINI,MCCORMICK',
       'MCCORMICK, LANDINI', 'MCCORMICK,LANDINI', 'MCCORMICK;LANDINI',
       'LANDINI,MCCORMICK,ARGO', 'MC CORMICK, LANDINI',
       'LANDINI,MCCORMICK,...', 'TOYOTA', 'PIAGGIO', 'PIAGGIO,APRILIA',
       'APRILIA,PIAGGIO,PIAGGIO,', 'PIAGGIO,PIAGGIO, DERBI, A',
       'FRESH BREEZE', 'BMS', 'HEIZOMAT', 'VOLVO', 'RIVERO',
       'RIVERO,WANGYE', 'CYR', 'PFANZELT FAHRZEUGBAU GMBH',
       'PFANZELT MASCHINENBAU', 'EAGLE MOTORSPORTS', 'CAPRON', 'KIA',
       'HYUNDAI', 'JLFD PRODUCTION (F)', 'MANITOWOC CRANEGROUP GMBH',
       'MANITOWOC CRANE GROUP', 'QJIANG,QJ,GENERIC', 'KEEWAY',
       'QJ,QJIANG,KEEWAY,LEONE', 'QJ,QJIANG,KEEWAY,LEONE,RK',
       'QJ,QJIANG,KEEWAY,LEONE;RK', 'PEUGEOT', 'KARCHER,QINGQI', 'MASH',
       'PIONEER,SNOWOLF,JMQQ,..', 'LUXXON', 'K-SPORT',
       'ITALJET;ITALJET MOTO', 'LONGJIA,TNT-MOTOR,IMF,...', 'BEELINE',
       'LONGJIA,SOLIFER,ENVYGO,..', 'ZÃœNDAPP,ZÃœNDAPP, BTC, AGM',
       'UGUR; MONDIAL', 'UGUR,MONDIAL', 'UGUR, MONDIAL',
       'UGUR, MONDIAL, DERRACE', 'ROMET;-MOTORS;ROUTER;SENK', 'BINZ',
       'CONCORDE', 'MERCEDES-AMG,MERCEDES-BEN', 'ADRIA', 'WAS',
       'SAXON NUTZFAHRZEUGE', 'OBERAIGNER AUTOMOTIVEGMBH',
       'SPIER FAHRZEUGWERK KG', 'TRIMO', 'ERDUMAN', 'SAXAS',
       'SAXAS NUTZFAHRZEUGE', 'SAXAS NUTZFAHRZEUGE WERDA', 'KERSTNER',
       'AROBUS', 'EDER GMBH', 'HERBRAND GMBH', 'SPIER',
       'KIRCHHOF ECOTEC GMBH', 'KIRCHHOFF ECOTEC GMBH', 'SCHWING',
       'PALFINGER PLATFORMS GMBH', 'AMBULANZ MOBILE GMBH & CO',
       'KIRCHHOFF ECOTEC', 'KIRCHHOFF ECOTEC,...', 'PHOENIX',
       'KIRCHHOFF ECOTEC;...', 'BRABUS AUTOMOTIVE',
       'STETTER/SCHWING STETTER', 'MERCEDES BENZ',
       'BRABUS AUTOMOTIVE GMBH', 'HUSQVARNA', 'JMSTAR,HUIBANG,SHENKE....',
       '....ROMET MOTORS,ROUTER', 'NISSAN', 'INFINITI', 'CRD',
       'CRD CAR RESEARCH GMBH', 'BÃ–CKER', 'ARCTIC TRUCKS', 'STAS',
       'DB,CSR,KANUNI', 'KREIDLER', 'KALKHOFF,RIXE,VIKTORIA UA',
       'KALKHOFF,RALEIGH,RIXE U.A', 'KALKHOFF, FOCUS', 'KALKHOFF;RALEIGH',
       'KALKHOFF, RALEIGH', 'KALKHOFF,FOCUS,RALEIGH,..',
       'KALKHOFF;RALEIGH;FOCUS;UA', 'KALKHOFF;FOCUS;RALEIGH;..',
       'KALKHOFF', 'FOCUS', 'RALEIGH', 'LIFAN', 'NORSJÃ–',
       'KUBA,HAOJIN,LINGKEN,.....', 'KUBA, RKS', 'WOMA', 'GUF GECO',
       'KTM', 'SIP STROJNA', 'KÃ–NIG', 'ACCESS', 'ACCESS,TRITON',
       'SFM GMBH;MONDIAL', 'SACHS BIKE; SFM GMBH', 'SFM GMBH', 'SFM',
       'INGERSOLL RAND, DOOSAN', 'INGERSOLL RAND OR DOOSAN', 'DOOSAN',
       'ARGO', 'SYM', 'SYM, SANYANG', 'INVACARE', '3DOG CAMPING',
       'TEMPUS', 'GAS-GAS', 'GAS GAS', 'ZECK', 'LAUGE JENSEN', 'NIPPONIA',
       'CHEVAL LIBERTE', 'HULCO', 'HITACHI', 'CFMOTO,QUADZILLA,CSR',
       'CFMOTO;EXPLORER;QUADZILLA', 'GAMAX', 'WÃ–RMANN', 'WOERMANN',
       'DIAMANT,VILLIGER,TREK', 'DIAMANT;VILLIGER;TREK', 'DIAMANT',
       'DIAMANT WW.-OPT.TREK', 'TÃœNKERS', 'TECDRIVE', 'ELMOTO',
       'EUROTANK GMBH', 'BASOGLU KARAVAN SAN.TIC.A', 'BASOGLU KARAVAN',
       'HAOJIN, ASYA, QUSWA, ASY', 'TESLA', 'JET-LOADER',
       'BURG SILVERGREEN', 'TAZZARI', 'GMI, PUMA',
       'JIAJUE,JINDING,B.H.M...', 'FIVE STAR', 'ISEKI', 'MEGELLI',
       'HISUN', 'CFMOTO;GOES', 'CFMOTO; GOES', 'REGARD', 'SERIN, MRM',
       'KUMPAN ELECTRIC,E-BILITY', 'GRACE', 'MOTOBI', 'ZEG', 'HERCULES',
       'BULLS WW. HERCULES', 'HERCULES WW. BULLS',
       'PG TRADE & SALES GMBH', 'PG-BIKES', 'DAEDONG,KIOTI',
       'DAEDONG OR KIOTI', 'DAEDONG,KIOTI,LANDINI,MCC', 'L-TEC',
       'DAEDONG, KIOTI', 'KIOTI', 'BIKEBOARD,LYRIC', 'JUNGE FAHRZEUGBAU',
       'CARTHAGO', 'MORELO', 'MEILLER-KIPPER/-TIPPER', 'MEILLER-KIPPER',
       'MAN', 'FMS-FAHRZEUGBAU GMBH', 'RIESE UND MÃœLLER',
       'RIESE & MÃœLLER', 'ORA', 'ATLAS', 'EFW-SUHL GMBH', 'DYNAJET',
       'KYBURZ SWITZERLAND AG', 'KOLUMAN,ROHR', 'ZHIXIN', 'MIA',
       'MCLAREN', 'TS-INDUSTRIE', 'OZGUL TRAILER,DAFE,...',
       'LADA,LADA AUTOMOBILE GMBH', 'JONWAY,SHENKE,HUIBANG,PED',
       'JONWAY,SHENKE,HUIBANG,...', 'SEKA', 'LML', 'SOGEWALOT',
       'GÃœVEN MAKINA', 'LANDWIND', 'ISISAN', 'OKT TRAILER',
       'SKYTEAM,SACIN,METALCO,...', 'ALGEMA,EDER,FITZEL',
       'SCHMITZ CARGOBULL', 'MASSEY-FERGUSON', 'MASSEY FERGUSON',
       'MECALAC O. AHLMANN', 'HOREX', 'LYRIC', 'IZIP DOLPHIN', 'FISKER',
       'LAND ROVER', 'JAGUAR', 'TOMBERLIN', 'QUADRO', 'Ã–ZTREYLER',
       'BELINA', 'SCHMITZ CARGOBULL GOTHA', 'SUZUKI', 'HAOJUE',
       'UNSINN UND ANDERE', 'HUMER ANHÃ„NGER', 'LAZ', 'TADANO FAUN',
       'TADANO FAUN GMBH', 'SCUDDY', 'TREMOLA', 'GOBAX',
       'DIECI; NEW HOLLAND', 'BRENDERUP,BRENDERUP BASIC',
       'EMO-BIKE GMBH&CO.KG', 'SCHWINGENSCHLÃ–GEL', 'TRIVANTI', 'W5075',
       'KUHZ METALLBAU', 'KUHZ', 'GB', 'NILFISK-EGHOLM', 'UNU',
       'LINDDANA A/S', 'CIMC VEHICLES', 'CIMC SILVERGREEN;-GERMANY',
       'CIMC SILVERGREEN', 'CIMC SILVERGREEN,-VEHICLE', 'CLEAN MOTION',
       'STÃ–CKLI SWISS SPORTS AG', 'STEVENS', 'INDIAN MOTORCYCLE',
       'E-BIKEBOARD', 'CARON', 'STRASSMAYR', 'LORYC MALLORCA',
       'DONG FENG;DF;EAST WIND;..', 'DONG FENG,DF,EAST WIND,..',
       'INNOTRAILER', 'EMCO', 'STREETSCOOTER GMBH', 'ZERO MOTORCYCLES',
       'MANITOWOC', 'CATTANEO', 'BASIC,BRENDERUP', 'BASIC', 'WHEELER',
       'SOVEREIGN TRAILERS', 'CUBE', 'YANMAR', 'LINDHOLDT MASKINER A/S',
       'SCANVOGN', 'BÃœCKER', 'LEAOS D.A. OBERHOLLENZER',
       'BUCHER, JOHNSTON', 'KTM FAHRRAD GMBH', 'BÃœRSTNER GMBH',
       'FLEURETTE', 'ADRIA,SUN LIVING', 'DETHLEFFS,POESSL',
       'CONCORDE, PÃ–SSL, GLOBECAR', 'POESSL', 'ADRIA;SUN LIVING;ELIOS',
       'KNAUS/WEINSBERG', 'BÃœRSTMER GMBH', 'ADRIA;SUN LIVING', 'BÃ–CKMANN',
       'NIESMANN+BISCHOFF', 'HOBBY,3879', 'CAMPEREVE,DREAMER,RAPIDO',
       'ITINEO', 'FLIEGL', 'FLIEGL AGRARTECHNIK GMBH', 'MG',
       'HAOJIANG,ZONTES,TAYO...', 'HAOJIANG,ZONTES,TAYO,-...',
       'CANNONDALE', 'ALFA ROMEO', 'HNF HEISENBERG', 'VARIANT A/S',
       'NILFISK', 'SWM', 'TEMPUS HOLDING', 'M1-SPORTTECHNIK GMBH&COKG',
       'M1-SPORTTECHNIK GMBH&CO.K', 'M1-SPORTTECHNIK', 'SCOMADI',
       'HANWAY,LEXMOTO,SOLIFER...', 'MOTRAC', 'FLYER', 'SCROOSER',
       'FELLA WW MASSEY FERGUSON', 'AGCO FEUCHT GMBH', 'SHERCO',
       'SCHILTRAC FAHRZEUGB.GMBH', 'THEODOR KLAAS GMBH & CO.', 'BERTOJA',
       'DUCATI', 'TEREX', 'AEON,LONCIN', 'LONCIN;KINLON;LONGTING,..',
       'PAXSTER', 'POP INDUSTRY', 'CITROEN', 'LOVOL',
       'LOVOL HEAVY INDUSTRY CO.', 'GÃ–WEIL', 'RIGUAL', 'ASIAWING',
       'KOMATSU', 'DEUTZ-FAHR', 'MONDIAL, PELPI',
       'KVERNELAND GROUP KERTE.AS', 'SUBARU', 'KUHN', 'KUHN - HUARD',
       'KUHN-HUARD', 'HUHN-HUARD', 'ZÃœNDAPP', 'E-KARAT, BOZANKAYA',
       'VÃ„DERSTAD', 'AIXAM,GOUPIL,MEGA,MINAUTO', 'AIXAM,MEGA,MINAUTO',
       'ITALDESIGN AUTOMOBIL SPEC', 'BORGWARD', 'SCORPA',
       'EMILIOS TRAILERS', 'DALLARA', 'TRIUMPH', 'TRIUMPH,TRIUMPH',
       'DAIMLER', 'BENTLEY', 'ROLLS-ROYCE', 'BUGATTI',
       'DETHLEFFS / PÃ–SSL', 'DETHLEFFS,POESSL,PÃ–SSL', 'POESSL,PÃ–SSL',
       'CONCORDE,PÃ–SSL,GLOBECAR', 'ADRIA, ELIOS', 'BRAVIA',
       'WEINSBERG,KNAUS', 'KNAUS, WEINSBERG', 'YAMAHA/MBK', 'YAMAHA; MBK',
       'YAMAHA, MBK', 'ALPINE', 'MASSEY FERGUSSON', 'VALTRA', 'MANITOU',
       'MICROCAR, LIGIER, DUE', 'LIGIER', 'MICROCAR, DUE, LIGIER',
       'LIGIER, MICROCAR, ...', 'STERCKEMAN', 'CARAVELAIR',
       'CARAVELAIR,STERCKEMAN,STR', 'TRIGANO', 'RENAULT',
       'JUNG FAHRZEUGBAU GMBH', 'DETHLEFFS/PÃ–SSL', 'DACIA', 'ADRIA;ELIOS',
       'BORCO-HÃ–HNS', 'MOTO GUZZI', 'GILERA', 'GILERA,GILERA, PIAGGIO, A',
       'APRILIA,APRILIA,SCARABEO', 'APRILIA', 'APRILIA,APRILIA / DERBY /',
       'PIAGGIO OD.GILERA', 'PIAGGIO & C. S.P.A.', 'APRILIA,APRILIA',
       'PIAGGIO,PIAGGIO', 'APRILIA,APRILIA / DERBI /',
       'APRILIA,DERBI,GILERA', 'APRILIA,SCARABEO',
       'MOTO GUZZI,MOTO GUZZI', 'APRILIA,PIAGGIO',
       'APRILIA,APRILIA,DERBI', 'APRILIA;DERBI;GILERA', 'DERBI,PIAGGIO',
       'APRILLA', 'MASERATI', 'FERRARI', 'LAMBORGHINI', 'ANTONIO CARRARO',
       'ANTONIO CARRARO,SAME', 'BENELLI', 'DEUTZ-FAHR, SAME U.A.',
       'DEUTZ-FAHR,SAME U.A.', 'SAME', 'SAME...', 'SAME ...',
       'MOTO MORINI', 'FANTIC MOTOR', 'GOLDONI', 'GOLDONI,NEW HOLLAND',
       'GOLDONI, NEW HOLLAND', 'GOLDONI;ARBOS', 'GOLDONI,ARBOS',
       'MV AGUSTA', 'CAGIVA', 'BETA', 'ITALJET', 'DI BLASI', 'BIMOTA',
       'MERLO', 'ALFA', 'ALFA,ALFA', 'ADRIA; SUN LIVING', 'BÃœRSTNER',
       'EURA MOBIL', 'DETHLEFFS,PÃ–SSL', 'KNAUS / WEINSBERG',
       'EURA MOBIL, KARMANN MOBIL', 'FENDT', 'BUERSTNER GMBH',
       'ADRIA,SUN LIVING,ELIOS', 'KNAUS/WEINSBERG/.........',
       'KNAUS,WEINSBERG', 'MORELLO', 'CNH INDUSTRIAL ITALIA S.P',
       'PEZZAIOLI', 'FENDT-CARAVAN GMBH', 'IVECO/NIESMANN+BISCHOFF',
       'IVECO', 'DIETRICH CAREBUS SAS', 'SAXAS NUTZFAHRZEUGE GMBH',
       'SAXAS NUTZFAHRZEUGEWERDAU', 'MAGIRUS', 'MAZDA', 'LEXUS',
       'ATLAS COPCO', 'STEYR', 'NEW HOLLAND; CASE IH', 'CASE-IH',
       'NEW HOLLAND;CASE IH;ORKEL', 'NEW HOLLAND,CASE IH...',
       'JLG; CATERPILLAR', 'ISUZU', 'ISUZU, ANADOLU ISUZU, ...',
       'HUSABERG', 'KTM,KTM AG', 'BRANTNER', 'REFORM', 'LINDNER',
       'PONGRATZ', 'BLOMERT', 'BÃ–CKMANN,BÃ–CKMANN', 'BUERSTNER',
       'BÃœRSTNER,BÃœRSTNER GMBH', 'HÃœFFERMANN TRANSPORTSYSTE',
       'HÃœFFERMANN TRANSPORTSYST.', 'HÃœFFERMANN TRANSPORT.GMBH',
       'PUTZMEISTER', 'MÃœNZ', 'SIGG', 'BLOMENRÃ–HR', 'LADOG', 'MAUS',
       'BREINING', 'AMAZONE', 'GOLDHOFER', 'ROHR', 'SACHS/MONDIAL',
       'JOSEF FINKL FAHRZEUGBAU', 'JOSEF FINKL KG', 'TABBERT',
       'TABBERT CARAVAN', 'REISCH', 'THIEL PFERDEANHÃ„NGER',
       'MÃœLLER-MITTELTAL', 'MÃœLLER MITTELTAL,FAYMONV.', 'HEKU', 'BARTHAU',
       'HIEBLE', 'HARBECK', 'FFB FELDBINDER', 'SAUERBURGER',
       'FXS SAUERBURGER', 'AEBI', 'GG', 'MBK', 'YAMAHA,MBK', 'KAWASAKI',
       'MITSUBISHI', 'DAIHATSU', 'KUBOTA', 'HITACHI CONSTURCTION',
       'TIME / VERSALIFT', 'MBK,YAMAHA', 'KYMCO', 'TGB',
       'STANDARD MOTOR CORPOR.', 'STANDARD MOTOR CORP.', 'STANDARD MOTOR',
       'ONLINE', 'BEELINE,ONLINE', 'CPI', 'AEON MOTOR', 'YAMAHA / MBK',
       'SEAT', 'JOHN DEERE IBERICA S.A.', 'MONTESA', 'DERBI', 'SANTANA',
       'ALPINA', 'WM MEYER', 'WM MEYER,WM MEYER FAHRZEU',
       'KIRCHHOFF ECOTEC GBMH', 'HUMBAUR', 'HUMBAUR,KÃ–GEL',
       'HUMBAUR, KÃ–GEL', 'HUMBAUR GMBH', ',,HUMBAUR',
       'HUMBAUR, KÃ–GEL,HUMBAUR,KÃ–', 'HUMBAUR,HUMBAUR',
       'HKN 255020-20S,HUMBAUR', 'HK 204017-20S,HUMBAUR', 'AUWÃ„RTER',
       'KOCH', 'HIRTH', 'STEMA', 'STEMA,STEMA', 'MULTIKAR', 'LMC CARAVAN',
       'MOETEFINDT', 'KÃ–GEL, HUMBAUR', 'KÃ–GEL,HUMBAUR', 'HUMBAUER,KÃ–GEL',
       'SPINDELBERGER', 'KAESER', 'HEIMANN FAHRZEUGBAU GMBH', 'HEIMANN',
       'KROEGER, FELIX', 'ALUTRAIL', 'STEDELE', 'NISSEN', 'WECON',
       'BRINKMANN', 'FALCH', 'SETRA', 'QUATTRO', 'SKODA', 'AGADOS',
       'TPV TRAILERS', 'TPV-TRAILERS', 'AGT', 'DAYANG,DAYTONA MOTORS,NIP',
       'DAYANG,DAYTONA MOTORS,...', 'DAYANG, DAYTONA MOTORS,..',
       'SSANGYONG', 'GENESIS', 'HYOSUNG, GOES', 'DAELIM', 'ROYAL ENFIELD',
       'SCHRADER', 'OHLMEIER', 'WESTFALIA VAN CONVERSION', 'DREAMER',
       'STEINBACHER', 'UNSINN', 'UNSINN,1-80', 'JOTHA FAHRZEUGBAU AG',
       'JOTHA', 'FGS GMBH, HUMER', 'SCHMIDT', 'REWACO,REWACO', 'REWACO',
       'SCHMITZ-GOTHA FAHRZEUGW.', 'SCHMITZ-GOTHA', 'FENDT CARAVAN',
       'HRD', 'RENDT 950', 'J. WILLIBALD GMBH',
       'DEUTZ-FAHR,SAME,LAMBORGH.', 'DEUTZ-FAHR,SAME',
       'DEUTZ-FAHR, SAME, .......', 'DEUTZ-FAHR,SAME,LAMBORGHI',
       'DEUTZ-FAHR; SAME; LAMBORG', 'DEUTZ-FAHR, SAME, ......',
       'DEUTZ-FAHR;SAME;LAMBORGHI', 'DEUTZ-FAHR,SAME,LAMB.,...',
       'DEUTZ-FAHR,SAME,LAMBO.,..', 'LAMBORGH./HÃœRLIM./SAME',
       'DOLL FAHRZEUGBAU', 'SAAB', 'WOOD-MIZER', 'PRONAR',
       'NEPTUN,RUSTIQUE', 'MTZ (MINSK.TRAK.WERK)', 'MTZ',
       'MTZ(MINSKER TRAKT.WERK)', 'MTZ (MINSK.TRAKT.WERK)',
       'MTZ (MINSKER TRAKT.WERK)', 'OMMELIFT', 'OMME LIFT A/S', 'EGHOLM',
       'DE FORENDE TRAILERFABRIK.', 'DE FORENEDE TRAILERFABRIK',
       'DE FORENEDE TRAILERF. A/S', 'DE FOR.TRAILERFABRIKKER',
       'DE FORENDE TRAILERFABR.', 'HAPERT WW.STARK', 'HAPERT WW. STARK',
       'KIRCHHOFF ECOTEC, ...', 'SAXAS NUTZFAHZZEUGE', 'SARIS', 'ANSSEMS',
       'HENRA', 'SERRA', 'MASCHINENFAB.KRONE GMBH', 'SMT-TRIKEBAU', 'MZ',
       'TRIKETEC', 'KOTTE', 'KNAUS TABBERT GROUP', 'WILK',
       'WEINSBERG,WILK', 'KNAUS,TABBERT,WEINSBERG', 'KNAUS,TABBERT',
       'DECONTA', 'TEREX OPT. DEMAG', 'TEREX/DEMAG',
       'TEREX WW./OPT.DEMAG', 'TEREX;DEMAG', 'DEMAG', 'TANTE PAULA',
       'SOMMER', 'E.-ATV', 'FIBERLINE SPORTBOOTE', 'BLYSS'], dtype=object)

In [162]:
germ_df["HSN_TSN"] = germ_df['Manufacturer Identification Number'].map(str) + '_' + germ_df['Model Identification Numer'].map(str)

In [163]:
column_to_move =  germ_df.pop("HSN_TSN")
germ_df.insert(2, "HSN_TSN", column_to_move)

In [164]:
uk_data.head()

,Vehicle Type,Manufacturer,Model,Series,ABI Code,Wheel Base Length,Roof Height Type,Number Of Seats,Total Height,Total Length,...,Fuel Type.1,ABI Description,Vehicle Import Type,AEB Type,List Price,Enhanced Vehicle Description,Battery Lease,CO2 Emissions G/KM,Electric Vehicle Type,power/weight ration
0,Car,SSANGYONG,TIVOLI XLV,1,104660,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,NaN,NaN,No,19250.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,154.0,NaN,0.057360
1,Car,SSANGYONG,TIVOLI XLV,1,104661,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,NaN,NaN,No,18250.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,121.0,NaN,0.057360
2,Car,SSANGYONG,TIVOLI XLV,1,104662,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,NaN,NaN,No,20500.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,164.0,NaN,0.054854
3,Car,SSANGYONG,TIVOLI XLV,1,104663,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,NaN,NaN,No,19500.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,127.0,NaN,0.054854
4,Car,SSANGYONG,TIVOLI XLV,1,104668,NaN,NaN,5.0,1635.0,4440.0,...,DIESEL/,NaN,NaN,Yes,20500.0,Tivoli XLV ELX e-XDi 113bhp 5 Door Estate Dies...,N,NaN,NaN,NaN

In [165]:
uk_data['power/weight ratio']=uk_data['Power Output']/uk_data['Gross Weight']

In [168]:
#considering car length between 1450 and 6500
uk_data=uk_data[(uk_data['Total Length']>1450)]
uk_data=uk_data[(uk_data['Total Length']<6500)]

In [169]:
min(uk_data['Total Length']),max(uk_data['Total Length'])

(4005.0, 5986.0)

In [170]:
germ_df=germ_df[(germ_df['max. Length']>1450)] 
germ_df=germ_df[(germ_df['max. Length']<6500)]

In [171]:
min(germ_df['max. Length']),max(germ_df['max. Length'])

(1500, 6499)

In [179]:
uk_data.to_csv(r'C:\Users\Jomon\OneDrive\Desktop\hackathon\Data\Uk_data.csv')
germ_df.to_csv(r'C:\Users\Jomon\OneDrive\Desktop\hackathon\Data\germ_data.csv')

In [172]:
#taking similar power/weight ratio from both dataset
gem_set=germ_df['Power/Weight Ratio']
gem_set=set(gem_set)

uk_set=uk_data['power/weight ratio']
uk_set=set(uk_set)

In [173]:
com=gem_set.intersection(uk_set)
len(com)

273

In [174]:
def convert(set):
    return [*set, ]

# Driver func
comm =convert(com)

In [175]:
germ_new=germ_df[germ_df['Power/Weight Ratio'].isin(comm) == True]
germ_new

,Manufacturer Identification Number,Model Identification Numer,HSN_TSN,No. Of Driving Axles,max. Length,max. Width,max. Height,max. Gross Vehicle Weight,Manufacturer,Commercial Name,Type,Wheelbase,Power/Weight Ratio,Seats,Fuel Code,max. Top Speed,Fuel Type
78,5,ABM,5_ABM,1,4843,1846,1491,2285,BMW,5er Reihe,560L,2886,0.074074,5,2,225,Diesel
87,5,ABV,5_ABV,1,4841,1846,1468,2350,BMW,5er Reihe,560L,2888,0.1,4,1,210,Petrol
128,5,ADK,5_ADK,1,4520,1817,1421,1910,BMW,3er Reihe,390L,2760,0.065517,5,1,208,Petrol
129,5,ADL,5_ADL,1,4520,1817,1421,1965,BMW,3er Reihe,390L,2760,0.072727,5,2,220,Diesel
139,5,ADV,5_ADV,1,4520,1817,1421,1980,BMW,3er Reihe,390L,2760,0.102479,5,1,243,Petrol
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82959,9758,AAB,9758_AAB,1,3885,1695,1457,1530,MITSUBISHI,Mitsubishi Colt,Z3B,2500,0.086275,4,1,205,Petrol
82962,9758,AAE,9758_AAE,1,3940,1695,1550,1465,MITSUBISHI,Mitsubishi Colt,Z30,2500,0.066667,5,1,180,Petrol
82972,9758,AAO,9758_AAO,1,3880,1695,1520,1440,MITSUBISHI,Mitsubishi Colt,Z30,2500,0.076923,5,1,190,Petrol
83315,9891,AAB,9891_AAB,1,2500,1588,1549,990,SMART,fortwo coupe,MC 01,1812,0.045963,2,1,135,Petrol
83316,9891,AAC,9891_AAC,1,2500,1588,1549,990,SMART,fortwo coupe,MC 01,1812,0.055901,2,1,135,Petrol

In [176]:
UK_new=uk_data[uk_data['power/weight ratio'].isin(comm) == True]
UK_new

,Vehicle Type,Manufacturer,Model,Series,ABI Code,Wheel Base Length,Roof Height Type,Number Of Seats,Total Height,Total Length,...,ABI Description,Vehicle Import Type,AEB Type,List Price,Enhanced Vehicle Description,Battery Lease,CO2 Emissions G/KM,Electric Vehicle Type,power/weight ration,power/weight ratio
10,Car,SSANGYONG,KORANDO,2,104685,NaN,NaN,5.0,1710.0,4410.0,...,NaN,NaN,No,17000.0,Korando SE D22DTF 176bhp 5 Door Hatchback Dies...,N,155.0,NaN,0.079638,0.079638
11,Car,SSANGYONG,KORANDO,2,104686,NaN,NaN,5.0,1710.0,4410.0,...,NaN,NaN,No,18370.0,Korando LE D22DTF 176bhp 5 Door Hatchback Dies...,N,155.0,NaN,0.079638,0.079638
12,Car,SSANGYONG,KORANDO,2,104687,NaN,NaN,5.0,1710.0,4410.0,...,NaN,NaN,No,19370.0,Korando LE D22DTF 176bhp 5 Door Hatchback Dies...,N,177.0,NaN,0.079638,0.079638
13,Car,SSANGYONG,KORANDO,2,104688,NaN,NaN,5.0,1710.0,4410.0,...,NaN,NaN,No,18500.0,Korando SE D22DTF 176bhp 5 Door Hatchback Dies...,N,152.0,NaN,0.079638,0.079638
14,Car,SSANGYONG,KORANDO,2,104689,NaN,NaN,5.0,1710.0,4410.0,...,NaN,NaN,No,22000.0,Korando ELX D22DTF 176bhp 5 Door Hatchback Die...,N,152.0,NaN,0.077876,0.077876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17717,Car,DS,DS7 CROSSBACK,1,57000157,NaN,NaN,5.0,1625.0,4570.0,...,NaN,NaN,Yes,31075.0,DS7 Crossback Performance Line BlueHDi 128bhp ...,N,107.0,NaN,0.063054,0.063054
17725,Car,DS,DS7 CROSSBACK,1,57000165,NaN,NaN,5.0,1625.0,4570.0,...,NaN,NaN,Yes,34075.0,DS7 Crossback Prestige BlueHDi 128bhp 5 Door S...,N,107.0,NaN,0.063054,0.063054
17743,Car,DS,DS3 CROSSBACK,1,57000183,NaN,NaN,5.0,1534.0,4118.0,...,NaN,NaN,Yes,21550.0,DS3 Crossback Elegance PureTech 99bhp 5 Door S...,N,105.0,NaN,0.060000,0.060000
17744,Car,DS,DS3 CROSSBACK,1,57000184,NaN,NaN,5.0,1534.0,4118.0,...,NaN,NaN,Yes,22950.0,DS3 Crossback Performance Line PureTech 99bhp ...,N,105.0,NaN,0.060000,0.060000
17745,Car,DS,DS3 CROSSBACK,1,57000185,NaN,NaN,5.0,1534.0,4118.0,...,NaN,NaN,Yes,24950.0,DS3 Crossback Prestige PureTech 99bhp 5 Door S...,N,105.0,NaN,0.060000,0.060000